fastapi
uvicorn
streamlit
python-docx
pypdf
pydantic
langchain
langchain-ollama
langchain-core
langchain-community
python-multipart
python-dotenv
pandas
requests
# Build Trigger: 2026-02-16-v1
langchain-openai
langchain-groq
